html, body {
  width: 100%;
  height: 100%;
}

.App {
  background-image: url('./images/background.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.counter {
  font-family: fantasy;
}

.title-text {
  font-family: fantasy;
  max-width: 500px;
  text-align: center;
  color: #24E443;
}
